.button1-container {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button1 {
  margin-left: 200px;
  width: 132px;
  padding: 10px 20px;
  background-color: #6e94ce;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.button1:hover {
  background-color: #374157;
}
