<div *ngIf="loaded">
  <fieldset>
    <label>Title</label>
    <input type="text" [(ngModel)]="edAlbum.title" class="album-title">
    <button (click)="Edit()"> Edit </button>
  </fieldset>
  <h1> Title: {{ album.title }} </h1>
  <p> ID: {{album.id}}</p>
  <p> User ID: {{album.userId}}</p>

  <button routerLink="albums"> Back </button>
  <a routerLink="photo"> Photos </a>
  <!--  <button (click)="rm(album.id)"> Delete </button>-->
</div>


<h1 *ngIf="!loaded"> Album is loading, please wait</h1>


